html{
  border-left: 12px solid #5e7f79;
  border-right: 12px solid #5e7f79;
	height: 100%;
}

/* Formatting of overall website */
body {
  background-color: #fffff8;
  margin-left: 100px;
  min-width: 400px;
  max-width: 800px;
	
	display: flex;
	flex-direction: column;
	height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: 0.8em;
}

/* For sticky footer, along with the html height property, and body flex property */
.container {
	flex: 1 0 auto;
	padding: 20px;
}
.footer {
	flex-shrink: 0;
	padding: 20px;
}

/* Link formatting information */
a {
  text-decoration: none;
	background: -webkit-linear-gradient(#FCFCFC, #FCFCFC), -webkit-linear-gradient(#FCFCFC,#FCFCFC), -webkit-linear-gradient(#CCC, #CCC);
  background: linear-gradient(#FCFCFC, #FCFCFC), linear-gradient(#FCFCFC,#FCFCFC), linear-gradient(#CCC, #CCC);
  -webkit-background-size: 1px 4px;
  -moz-background-size: 1px 4px;
  background-size: 1px 4px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 95%; 
	color: #333;

}
a:hover {
  text-decoration: underline;
  color: #2d9be0;
}

/* Main text formatting information */
h1 {
  font-size: 2.5em;
  font-family: "Helvetica", "Arial", "Sans-Serif";
}
p {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  max-width: 90%;
  font-size: 1.4em;
  line-height: 1.5em;
  color: #333;
}

/* Bullet formatting information */

ul.posts {
	font-family: "Helvetica", "Arial", "Sans-Serif";
  font-size: 1.4em;
  line-height: 1.5em;
	color: #333;
}

ul.posts li {
  list-style: disc;
}

/* Table formatting information */
table {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}